*{
    margin: 0px;
    padding: 0px;
}

#background{
    width: 100%;
    margin: 0px;
}

.container{
    display: inline-block;
    position: relative;
}

.conteudo{
    position: absolute;
    top: 145px;
    right: 400px;
    font-size: 40px;
    color: white;
}

.conteudo fieldset{
    background-color: #AB007A;
    box-shadow:-7px 7px 0px 0px white;
    border: 0;
}