*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#background{
    width: 100%;
    margin: 0px;
}

.container{
    display: inline-block;
    position: relative;
}

#extro{
    color: red;
}

#intro{
    color: deepskyblue;
}

.conteudo{
    position: absolute;
    top: 145px;
    right: 400px;
    font-size: 30px;
    color: white;
}

.conteudo fieldset{
    padding: 15px;
    background-color: #AB007A;
    box-shadow:-7px 7px 0px 0px white;
    border: 0;
}